* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1180px;
}

.upper-bar {
    width: 100%;
    height: 10px;
    background-color: #2de8df;
}

.menu {
    height: 181px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__items {
    width: 940px;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row;
    background-image: url('img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.menu__item {
    margin-top: 4px;
    width: 220px;
    display: flex;
    align-items: center;
}

.menu__link {
    line-height: 18px;
    color: #000;
    text-decoration: none;
    margin-top: 24px;
    padding-bottom: 24px;
}

.menu__link--active {
    color: #e5e5e5;
    border-bottom: 1px solid #2de8df;
}

.menu__link:hover {
    color: #e5e5e5;
    border-bottom: 1px solid #2de8df;
}

.menu__item--right {
    justify-content: right;
    text-align: right;
}

.menu__item--left {
    justify-content: left;
    text-align: left;
} 

.menu__image {
    height: 120px;
    width: 120px;
}

.rotator {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.rotator__title {
    margin-top: 40px;
    font-family: "Bree Serif";
    font-size: 82px;
    font-weight: 400;
    color: #222222;
}

.rotator__button {
    margin-top: 58px;
    width: 300px;
    height: 70px;
    padding-bottom: 10px;
    font-size: 20px;
}

.rotator__button:hover {
    padding-bottom: 5px;
}

.articles {
    margin-top: 25px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row;
    width: 940px;
}

.article {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.article__content {
    margin-top: 30px;
    align-self: stretch;
    flex-grow: 1;
}

.article__title {
    color: #ee8a55;
    font-family: "Bree Serif";
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    margin-left: -1px;
}

.article__paragraph {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 12px;
    text-align: justify;
}

.article__paragraph--thumbnail-side {
    margin-top: -6px;
}

.article__more {
    color: #ebebeb;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}

.article__more::before {
    content: "\2014  "
}

.article__thumbnail {
    width: 80px;
    height: 81px;
    float: left;
    border: 1px solid #000;
    padding: 2px 2px 3px 2px;
    margin-right: 19px;
    margin-top: -1px;
}

.map {
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__title {
    color: #2de8df;
    font-family: "Bree Serif";
    font-size: 60px;
    font-weight: 400;
}

.map__image {
    margin-top: 30px;
}

.contact {
    margin-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
}

.contact__title {
    color: #2de8df;
    font-family: "Bree Serif";
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 36px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.contact__row {
    width: 940px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row;
}

.contact__item {
    width: 220px;
}

.contact__input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 5px #d5d5d5;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #d1d1d1;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}

.contact__textarea {
    height: 180px;
    width: 460px;
    resize: none;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 5px #d5d5d5;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #d1d1d1;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
}

.contact__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__label {
    margin-top: 2px;
    color: #d1d1d1;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}

.contact__button {
    width: 460px;
    height: 50px;
    padding-bottom: 10px;
    font-size: 16px;
}

.contact__button:hover {
    padding-bottom: 5px;
}

.button {
    text-shadow: 1px 1px 0 #49f7ef;
    color: #21b3ac;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    box-shadow: inset 0 -5px 0 #21b3ac;
    border: none;
    border-radius: 8px;
    background-color: #2de8df;
    background-image: linear-gradient(to top, #2de8df 0%, #2bf2e8 100%);
    cursor: pointer;
}

.button:hover {
    box-shadow: inset 0 1px 5px #1f847f;
    background-color: #2de8df;
}

.scrollup {
    margin-top: 7px;
    width: 300px;
    height: 30px;
    text-align: center;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #000;
    border: none;
    box-shadow: inset 0 3px 0 #555555;
    display: table;
}

.scrollup__link {
    display: table-cell;
    vertical-align: bottom;
    text-decoration: none;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1px;
}

.footer {
    width: 100%;
    background-color: #000;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__content {
    background: #000;
    color: #fff;
    font-family: "Open Sans";
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 70px;
    width: 940px;
}

.footer__menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.footer__menu--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__menu--right {
    margin-left: 40px;
    margin-right: 100px;
    display: flex;
    text-align: end;
    flex-direction: column;
    justify-content: space-between;
}

.footer__menu__link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.footer__menu__link::before {
    content: "\2014  ";
}

.footer__social {
    flex-grow: 0;
    align-self: center;
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.footer__social__img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.footer__social__img--facebook {
    background-image: url('img/facebook_icon.png');
}

.footer__social__img--twitter {
    background-image: url('img/twitter_icon.png');
}

.footer__copyright {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__copyright__content {
    text-align: end;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
}
